table {
    font-family: "Open Sans", sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-content: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  table.dataTable thead th{
    background-color: #DBE2EF !important;
  }