.team-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: red;
    padding-block: 40px;
    gap: 20px;
    border-radius: 8px;
    background: rgb(63,114,175);
    background: linear-gradient(135deg, rgba(63,114,175,1) 7%, rgba(159,184,215,1) 59%, rgba(255,255,255,1) 100%);
    
    & > div{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }
  }